<!--skipperによるスライド-->
<div id="box">
  <div id="images">
    <div class="skipper_image1"></div>
    <div class="skipper_image2"></div>
    <div class="skipper_image3"></div>
    <div class="skipper_image4"></div>
  </div>
</div>