<div class="container">
  <h2 class="text-center">ユーザー一覧</h2>
  <div class="card-columns">
    <% @users.each do |user| %>
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <%= render 'users/profile', user: user %>
        </div>
      </div>
    <% end %>
  </div>
</div>