<%= render 'layouts/errors', obj: @item %>
<div class="container page-top">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center">アイテム編集</h2>
        <%= render 'form', item: @item %>
    </div>
  </div>
</div>